@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
li {
  text-decoration: none;
  list-style-type: none;
}
a {
  text-decoration: none;
  list-style-type: none;
}
body {
  font-family: Poppins;
}
.container {
  padding-block: 20px;
  padding-inline: 100px;
}
header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  width: 100%;

  nav {
    ul {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 30px;

      li a {
        color: black;
      }
    }
  }
}
.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 90vh;
  gap: 20px;

  .logo {
    img {
      width: 412px;
      height: 88px;
    }
  }
  .text {
    width: 740px;
    text-align: center;
  }
  .buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    padding-top: 50px;
    .appointment {
      background-color: #ed215e;
      padding: 24px 56px 24px 56px;
      height: 72px;
      border: 1px solid #ed215e;
      border-radius: 8px;
      width: 310px;
      color: white;
    }
    .pay {
      background-color: white;
      padding: 24px 96px 24px 96px;
      height: 72px;
      border: 1px solid #ed215e;
      border-radius: 8px;
      color: #ed215e;
    }
  }
}
.visit-us {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
  background-color: rgba(255, 247, 249, 1);

  h1 {
    color: #ed215e;
    font-size: 48px;
    font-weight: 600;
  }

  .visit-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 50px;

    .visit-text {
      width: 594px;
      border-left: 3px solid rgba(237, 33, 94, 1);
      flex-direction: column;
      align-items: center;
      justify-content: center;

      h2 {
        padding-left: 20px;
      }
      p {
        padding-left: 20px;
        font-weight: 300;
        font-size: 20px;
        color: rgba(113, 113, 113, 1);
      }
    }
  }
}
.facilities {
  padding-block: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  h1 {
    font-weight: 600;
    font-size: 48px;
    text-align: center;
    color: rgba(237, 33, 94, 1);
  }
  .pp {
    text-align: center;
    width: 669px;
    font-size: 18px;
    font-weight: 300;
    color: rgba(101, 100, 100, 1);
  }

  .facilities-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-block: 50px;
    gap: 30px;
    width: 100%;

    .facilities-card {
      display: flex;
      flex-direction: column;
      text-align: left;
      width: 344px;

      h3 {
        font-weight: 500;
        font-size: 18px;
      }
      p {
        font-weight: 200;
        font-size: 15px;
        color: rgba(113, 113, 113, 1);
      }
      .button {
        margin-top: 40px;
        background-color: #ffffff;
        height: 72px;
        border: 1px solid #ed215e;
        border-radius: 8px;
        width: 168px;
        height: 56px;
        padding: 16px 32px 16px 39px;
        color: #ed215e;
      }
    }
  }
}
.know {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: 100%;
  h1 {
    text-align: center;
    font-size: 48px;
    font-weight: 500;
    color: rgba(237, 33, 94, 1);
  }
  .know-p {
    text-align: center;
    width: 669px;
    padding-bottom: 60px;
  }
  .text-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 80px;
    width: 1100px;

    .first {
      .heading {
        display: flex;
        align-items: center;
        gap: 20px;
        margin-bottom: 20px;

        h3 {
          font-size: 24px;
          font-weight: 500;
        }
      }

      p {
        font-size: 18px;
        color: rgba(113, 113, 113, 1);
        margin-bottom: 30px;
      }
      .mini-head {
        h4 {
          font-size: 20px;
          font-weight: 400;
        }
      }
      .icons {
        display: flex;
        align-items: center;
        gap: 120px;

        .icon-container {
          margin-top: 30px;
          display: flex;
          flex-direction: column;

          .icon-text {
            h3 {
              font-size: 18px;
              font-weight: 400;
            }
            p {
              font-size: 16px;
              font-weight: 400;
            }
          }
        }
      }
    }
  }
}
.testimonials {
  background-color: rgba(237, 33, 94, 1);
  height: 696px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  h1 {
    text-align: center;
    font-size: 48px;
    color: white;
    font-weight: 400;
    padding-block: 50px;
  }
  .text-containers {
    display: grid;
    justify-content: space-between;
    grid-template-columns: 1fr 1fr;
    gap: 70px;

    .test-texts {
      .text {
        display: flex;
        align-items: flex-start;
        width: 522px;

        p {
          color: white;
          margin-left: 30px;
          font-size: 18px;
          font-weight: 200;
        }
      }
      .kathy {
        margin-top: 30px;
        margin-left: 95px;
        color: white;
        font-size: 16px;
        font-weight: 400;
      }
    }
  }
}
.insurance {
  padding-inline: 100px;

  .insurance-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 140px;
    padding-block: 200px;
    width: 100%;

    .text-insure {
      width: 416px;

      h1 {
        font-size: 48px;
        font-weight: 400;
        color: rgba(237, 33, 94, 1);
      }

      p {
        font-size: 18px;
        font-weight: 400;
      }
    }

  }
}
.health {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  .health-text {
    width: 1100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-image: url("/static/img/health-bg.png");
    height: 299px;

    .text {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;

      h1 {
        font-size: 48px;
        font-weight: 400;
        color: #ed215e;
      }
      .attention {
        display: flex;
        justify-content: space-around;
        gap: 16px;
        
      }
    }
    .button {
      background-color: #ed215e;
      padding: 16px 32px 16px 32px;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 15px;

      a {
        color: white;
      }
    }
  }
}
.footer {
  display: flex;
  justify-content: center;
  padding-top: 200px;
  width: 100%;

  .footer-container {
    display: flex;
    justify-content: center;
    width: 1100px;
    
    .logo {
    width: 304px;

    p {
      margin-top: 30px;
      color: rgba(150, 150, 150, 1);
      font-size: 18px;
      width: 290px;
    }
  }
  .footer-nav {
    width: 304px;
    height: 306px;

    h3 {
      font-size: 20px;
      font-weight: 600;
      margin-bottom: 25px;
    }

    nav {
      ul {
        li {
          margin-bottom: 20px;

          a {
            color: rgba(150, 150, 150, 1);
          }
        }
      }
    }
  }
  .location {
    width: 304px;
    h2 {
      font-size: 24px;
      font-weight: 500;
      margin-bottom: 15px;
    }
    h3 {
      font-size: 18px;
      font-weight: 500;
      margin-bottom: 20px;
    }
    p {
      font-size: 15px;
      font-weight: 400;
      color: rgba(150, 150, 150, 1);
      margin-bottom: 20px;
    }
  }
  .contacts {
    width: 304px;
    h2 {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 20px;
    }
    p {
      font-size: 15px;
      font-weight: 400;
      color: rgba(150, 150, 150, 1);
      margin-bottom: 20px;
    }
  }
  
}
}